.PostLink{
    
    &__Link{
        padding:0.6em;
        color:#ee0979;
        font-size:1.2em;
        line-height: 2.4em;
        text-decoration: none;
        vertical-align: middle;
    }
    
    border-left:2px solid #ff6a00;

}

