.PostLink{
    border-left:2px solid #ff6a00;
    margin-bottom:0.6em;

    &__Link{
        padding:0.6em;
        text-decoration: none;
        vertical-align: middle;

       

    }

    &__LinkWrapper{
        display:flex;
    }

    &__Title{
        color:#ee0979;
        font-size:1em;
        line-height:1.6em;
        @media (min-width: 768px){
            font-size:1.2em;    
        }
    }
    
    &__Excerpt{
        color:black;
        font-size:0.8em;
        line-height: 1em;
    }
   

}

