.Blog{

    &__SearchWrapper{
        width:100%;
        display: flex;
        margin-bottom:1.8em;
    }

    &__Search{
        border:1px solid #00c9ff;
        border-bottom:5px solid #00c9ff;
        font-size:1em;
        margin-top:1em;
        line-height: 1.9em;
        color:#363795;
        padding:0.6em;
        width:100%;
    }
}
