.Blog{

    &__SearchWrapper{
        width:100%;
        display: flex;
        margin-bottom:1.8em;
    }

    &__Search{
        border:1px solid #00c9ff;
        border-bottom:5px solid #00c9ff;
        font-size:1em;
        margin-top:1em;
        line-height: 1.9em;
        color:#363795;
        padding:0.6em;
        width:100%;
    }

    &__Meta{
      padding-bottom: 1rem;
      margin-bottom: 3rem;

      > * {
        margin-right: 3rem;
        padding: 0 1rem;
        border-left: 3px solid red;
        color: #aaa;

        &:nth-child(2){
          border-color: #00c9ff
        }

        &:nth-child(3){
          border-color: #363795
        }

      }

    }


}


